@charset "utf-8";
/* CSS document */
* {
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
}

a {
	text-decoration: none;
}

/* css for title */
table {
	background-color: #66CCFF;
	border-collapse: collapse;
	width: 85.4em;
}

td {
	text-align: center;
	vertical-align: middle;
}

td a.unchosen {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.7em;
	color: white;
	padding: 0.83em;
	display: block;
}

td a.chosen, td a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.7em;
	color: #66CCFF;
	background-color: white;
	padding: 0.83em;
	display: block;
}

/* CSS for sideBar*/
ul {
	top: 8em;
	position: fixed;
	list-style: none;
	background-color: white;
	border: 0.2em solid #66CCFF;
}

li {
	width: 5em;
	background-color: #66CCFF;
	text-align: center;
	vertical-align: middle;
}

li a.unchosen {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: white;
	background-color: #66CCFF;
	padding: 0.6em;
	display: block;
}

li a:hover, li a.chosen{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #66CCFF;
	background-color: white;
	padding: 0.6em;
	display: block;
}

/* CSS for image */
#container {
	position: absolute;
	top: 6em;
	left: 27.5%;
	text-align: center;
	width: 37.5em;
	height: 23em;
	overflow: hidden;
}

#gameimage {
	position: absolute;
	height: 23em;
	text-align: center;
}

.img {
	float: left;
	text-align: center;
	line-height:25em;
	width: 37.5em;
	height: 23em;
}

/* CSS for dots under images */
#dots {
	position: absolute;
	top: 32em;
	left: 44%;
}

#dots a.unchosen {
	text-decoration: none;
	border: 0.15em solid #66CCFF;
	border-radius: 1.2em;
}

#dots a:hover {
	background-color: #66CCFF;
}

#dots a.chosen {
	text-decoration: none;
	border: 0.15em solid #66CCFF;
	border-radius: 1.2em;
	background-color: #66CCFF;
}

#dots span {
	margin: 0.2em;
}