ul.list
    each blog, index in blogs
        li
            a(href='/blog/' + blog.id)
                h3= blog.title
                span= '发布于:' + blog.getCreateTime()
                p= '摘要：' + blog.content