html
    head
        title My Blog
        link(rel='stylesheet' href='/style/index.css')
    body
        include ../widget/header.pug

        div.main-container
            h3= blog.title
            p= '发布于：' + blog.getCreateTime()
            p= '最后更新于：' + blog.getLastModified()
            p= blog.content
        script(src='/script/blog.js')