html
    head
        title My Blog
        link(rel='stylesheet' href='/style/index.css')
    body
        include ../widget/header.pug

        div.main-container
            article(contentEditable='true')
                h3 title
                p paragraph1
                p paragraph2
                p paragraph3
                p paragraph4