html
    head
        meta(charset='utf-8')
        title My Blog

        link(rel='stylesheet' href='/style/editor.css')
        link(rel='stylesheet' href='/style/index.css')

    body
        include ../widget/header.pug

        div.main-container
            div.tool-bar
                span#bold-icon(title='加粗') B
            article.editor#editor(contentEditable='true')
                h3 title
                p paragraph1
                p paragraph2
                p paragraph3
                p paragraph4
        script(src='/script/editor.js')