html
    head
        title My Blog
        link(rel='stylesheet' href='/style/index.css')
    body
        include ../widget/header.pug

        div.main-container
            include ../widget/list.pug
