<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lyx.myapplication" >

    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/hehe"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ch13.TestSocketActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ch06.ActionActivity2">
            <intent-filter>
                <action android:name="com.example.lyx.myapplication.ch06.MY_ACTION"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ch04.ResultActivity"/>
        <activity android:name=".ch08.NotifActivity"/>
        <activity android:name=".ch09.QueryActivity"/>

        <service android:name=".ch07.MyService">
            <intent-filter>
                <action android:name="com.example.lyx.myapplication.ch07.MY_SERVICE"/>
            </intent-filter>
        </service>
        <service android:name=".ch07.MyRemoteService">
            <intent-filter>
                <action android:name="MY_REMOTE_SERVICE"/>
            </intent-filter>
        </service>
        <receiver android:name=".ch08.MyReceiver">
            <intent-filter>
                <action android:name="com.example.lyx.myapplication.ch08.action.MY_ACTION"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".ch14.ProximityAlertReceiver">
            <intent-filter>
                <action android:name="ProximityAlert"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </receiver>
        <provider android:name=".ch10.EmployeeProvider" android:authorities="com.example.lyx.myapplication.ch10.Employees"/>
    </application>

</manifest>
