@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700|Open+Sans:400,800);
body {
    font-family: 'Open Sans', sans-serif;
}
.jumbotron {
    padding: 0 0 20px;
    font-family: 'Inconsolata', monospace ;
}
.btn-succes {
    background-color: ghostwhite;
}
.btn-error {
    background-color: yellow;
}

.icon {
    width: 3em;
}

.icon:hover,
.icon.on{
    background: gainsboro;
}


.btn {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

:focus {
    outline: none;
}

/* above is borrowed */

.tool-bar {
    position: relative;
    padding: 2em;
    font-size: 10px;
    border: 1px solid gainsboro;
    zoom: 0.8;
}

.tool-bar i {
    font-size: 1.2em;
}

.editor-wrapper {
    position: relative;
}

.menus {
    position: absolute;
}

.menu {
    position: absolute;
    display: none;
    margin: 0;
    padding: 10px;
    width: 150px;
    background: white;
    box-shadow: 0 0 5px;
}

.menu li:hover { background: gainsboro;}

.editor {
    padding: 1em;
    border: 1px solid gainsboro;
}